---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import RightBlob from "../assets/right-blob.svg";
import LeftBlob from "../assets/left-blob.png";
import CyberPadlock from "../assets/cyber-padlock.png";

import HeroFirst from "../components/HeroFirst.astro";
import BoxWithLeftIconButton from "../components/BoxWithLeftIconButton.astro";
import IconBorderBox from "../components/IconBorderBox.astro";
import TwoColRow from "../components/TwoColRow.astro";
import CenteredCol from "../components/CenteredCol.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<style>
  .header {
    height: 831px;
    background-color: #fafafc;
    z-index: 100;
  }

  .button .logo-image {
    margin-right: 10px;
  }

  .right-top-blob {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  .left-bottom-blob {
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 1;
  }
</style>

<BaseLayout>
  <div class="header">
    <HeroFirst
      subheadline="COIG S.A"
      headline="COIG CYBER"
      headlineAccent="Security"
      description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
      descriptionAccent="bezpieczeństwa"
    />
    <BoxWithLeftIconButton
      headline="Security Operations Center"
      description="SOC zwiększa bezpieczeństwo firmy przez monitoring, wykrywanie zagrożeń i zarządzanie incydentami."
    />
  </div>
  <Image
    class="right-top-blob"
    src={RightBlob}
    alt="Right blob"
    widths={[240, 540, 720, RightBlob.width]}
  />
  <Image
    class="left-bottom-blob"
    src={LeftBlob}
    alt="Left blob"
    widths={[240, 540, 720, LeftBlob.width]}
  />

  <SectionTitle
    headline="Usługi cyberbezpieczeństwa"
    description="Zwiększ bezpieczeństwo w swojej firmie. Wybierz zestaw usług stosowny do potrzeb:"
    imageSrc={CyberPadlock}
    imageAlt="pierońsko kulka"
  />
  <TwoColRow />
  <CenteredCol />
  <IconBorderBox />
</BaseLayout>
