---
import "../styles/global.css";
import { Image } from "astro:assets";
import HandsComputersMore from "../assets/hands-computers-more.png";
import ButtonLeftArrow from "../components/ButtonLeftArrow.astro";
import { transitionEnabledOnThisPage } from "astro:transitions/client";

// const { headline, headlineAccent, description, image, imageAlt} = Astro.props;
const props = Astro.props;


---

<style>
    .slide {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 40px;
    }
    .slider-content {
        position: absolute;
        background-color: #fff;
        padding: 48px;
        left: 50%;
    }
    .slider-headline {
        color: var(--blue-gray-600, #475569);
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .slider-description {
        color: #646b82;
        font-family: Mulish;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }

    .slide-image-wrapper {
        max-width: 100%;
    }

    .slide-image-wrapper img {
        max-width: 100%;
    }

    
@media (max-width: 1050px) {
    .slider-wrapper .slide {
        flex-direction: column;
        align-items: center;
  }
  .slider-content {
    width: 100%;
    left: 0;
  }
}



    

</style>

<div class="slider-wrapper">
    <div class="slide">
        <div class="slide-image-wrapper">
            <Image
            class="case-study-image"
            src={props.imageSrc}
            alt={props.imageAlt}
            widths={[240, 540, 720, props.imageSrc.width]}
          />
        </div>
        <div class="slider-content">
            <h3 class="slider-headline">{props.headline}</h3>
            <p class="slider-description">{props.description}</p>

            {props.showButton === 'true' &&  <ButtonLeftArrow href="#" description="O nas" />}

           
 
        </div>
    </div>
</div>
