---
import { Image } from "astro:assets";
import CyberLogo from "../assets/cyber-logo-red.svg";
---

<div class="logo-wrapper">
    <a class="logo-link" href="/">
        <Image
            class="logo-image"
            src={CyberLogo}
            alt="Cyberlogo"
            widths={[240, 540, 720, CyberLogo.width]}
        />
    </a>
</div>
